<?xml version="1.0"?>
<config>
    <MaxnumOfCampaignPeople>50000</MaxnumOfCampaignPeople>
    <DirectRunPepopleNum>100</DirectRunPepopleNum>
    <MaxHourOfStopCampaign>5</MaxHourOfStopCampaign>
    <NotifyCorpManagerSMSContentForCampaign>亲爱的{店长姓名},本门店的[{活动名称}]活动由于门店余额不足导致终止,为了不影响活动效果,请充值后再创建一个同样的活动.【万券】</NotifyCorpManagerSMSContentForCampaign>
    <SMSTemplateForGetTicket>您的凭证(编号：{凭证编号})参与的[{活动名称}]活动获得[{券名称}]{券数量}张.{商家简称}</SMSTemplateForGetTicket>
    <ExportFileMaxNum>5000</ExportFileMaxNum>
  <FullWordOfSMS>62</FullWordOfSMS>
  <WordOfSMS>65</WordOfSMS>
  <PointOfSMS>10</PointOfSMS>
	<PointOfMMS>50</PointOfMMS>
	<!--二维码相关参数-->
	<QRCodeVersion>4</QRCodeVersion>
	<QRCodeEncoding>2</QRCodeEncoding>
	<QRCorrectionLevel>3</QRCorrectionLevel>
	<QRCodeScale>2</QRCodeScale>

	<GetQRCodeURL>localhost</GetQRCodeURL>
	<GetQRCodeURLPort>6898/</GetQRCodeURLPort>
	<QRCodePath>QRCode</QRCodePath>
	<PublicGetQRCodeURL>http://localhost:2611/QRCode/Get/</PublicGetQRCodeURL>

	<!--彩信相关-->
	<MMSTemplatePath>/Template/MMS/MMSTemplate.smil</MMSTemplatePath>
	<TempTMSFilePath>/ApplicationFile/Temp/TempTMSFilePath/</TempTMSFilePath>
	<TMSFilePath>/ApplicationFile/TMSFile/</TMSFilePath>
  
  <!--微商城相关-->
  <WeixinShopOrderExpires>3</WeixinShopOrderExpires>

    <ImageServiceUrl>http://localhost:6886/</ImageServiceUrl>
    <WcfRestService_ImageAuthKey>veteran@yj911</WcfRestService_ImageAuthKey>
 
  <!--享叮当到期提醒活动相关配置-->
  <XDDActivitiesExpiredDay>3</XDDActivitiesExpiredDay>
  <NoticeJoinNum>50</NoticeJoinNum>
  
  <!--享叮当商家N天未发起活动提醒临界值-->
  <XddNumDayNorProjectNum>7</XddNumDayNorProjectNum>
  
  <XDDActivitiesHotScanDay>7</XDDActivitiesHotScanDay>
  <XDDActivitiesHotJoinNum>20</XDDActivitiesHotJoinNum>
  <!--享叮当日常业务逻辑 微信企业号通知人员-->
  <RegularBusinessNoticeWxQYID>yangjian|tanziqiao|luochaofu</RegularBusinessNoticeWxQYID>
</config>
