<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="DbConn" connectionString="data source=.;Initial Catalog=test;User ID=sa;Password=xiaoluo@123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <root />
    <logger name="LogError">
      <level value="Error" />
      <appender-ref ref="rollingFile" />
      <appender-ref ref="AdoNetAppender_SQL" />
    </logger>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log\\" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出样式-->
        <param name="ConversionPattern" value="发生时间：%date 线程ID:[%thread] 日志级别：%-5level %message%newline错误详情：%newline%exception-----------------------------End-------------------------------%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender_SQL" type="log4net.Appender.AdoNetAppender">
      <param name="bufferSize" value="5" />
      <param name="connectionType" value="System.Data.SqlClient.SqlConnection" />
      <param name="connectionString" value="data source=192.168.1.9\sql2k12;initial catalog=wquan;integrated security=false;persist security info=True;User ID=wquan;Password=wquan!@#" />
      <param name="commandText" value="INSERT INTO SystemLog ([Date],[Thread],[Level],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @message, @exception)" />
      <param name="parameter" type="log4net.Appender.AdoNetAppenderParameter">
        <param name="parameterName" value="@log_date" />
        <param name="dbType" value="DateTime" />
        <param name="layout" type="log4net.Layout.RawTimeStampLayout" />
      </param>
      <param name="parameter" type="log4net.Appender.AdoNetAppenderParameter">
        <param name="parameterName" value="@thread" />
        <param name="dbType" value="String" />
        <param name="size" value="255" />
        <param name="layout" type="log4net.Layout.PatternLayout">
          <param name="conversionPattern" value="%thread" />
        </param>
      </param>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <add key="authKey" value="veteran@yj911" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" maxReceivedMessageSize="10240" maxBufferPoolSize="10240" maxBufferSize="10240" helpEnabled="true" automaticFormatSelectionEnabled="true">
          <readerQuotas maxArrayLength="10240" maxStringContentLength="10240" />
          <!--大文件上传设置、也许也跟超时相关-->
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>