<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="authKey" value="veteran@yj911"/>
    <add key="ServiceAddr" value="http://localhost:6898/"/>
    
    <!--查询间隔指程序每一次处理完一定数据（每查询数）后，休眠多少毫秒再去查询数据库（wcf服务），数据变化不多时不要设得太小，设置范围最小1000（1000毫秒=1秒）-->
    <add key="SleepQuery" value="10000"/>
    <!--服务提交间隔指每次向服务器提交后再次提交的等待时间，设置范围必须大于等于100毫秒, 可以根据服务器情况快慢调整-->
    <add key="SleepPost" value="200"/>

    <!--每一次从数据库查询未提醒的数量-->
    <add key="RemindQueryCount" value="450"/>
    <!--提交未提醒服务列表小于剩余多少数量时，需要再次查询数据库取得新增队列记录。-->
    <add key="RemindRemainStandbyCount" value="50"/>
    <!--未提醒服务工作线程数量，依服务器配置及网络情况而定-->
    <add key="RemindTaskNum" value="2"/>
  </appSettings>
</configuration>