/* File Created: 二月 13, 2014 */
.js-max-input
{
    border: solid 1px #ffd2b2;
    background: #fffae5;
    padding: 0 10px 0 10px;
    font-size: 20px;
    color: #ff4400;
    width: 130px;
}
