@using DDD.Domain.Model.Entities.Admin;
@model IEnumerable<AdminAction>
@{
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
    ViewBag.CurrentPosition = "管理员操作权限管理";
    ViewBag.Title = "操作权限列表";
}
@section Js {
    <script src="@Url.Content("~/Areas/SystemAdmin/Scripts/sysAdminAction.min.js")" type="text/javascript"></script>
}
<div id="divActionList">
    @Html.Partial("ActionList", Model)
</div>
