/* File Created: 一月 17, 2014 */
.shops
{
    border: 1px solid #CCCCCC;
    max-height: 120px;
    min-height: 120px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hide;
    padding: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 192px;
}
.shopsvalid
{
    border: 1px solid red;
}
.shops .ui-selecting
{
    background: #FECA40;
}
.shops .ui-selected
{
    background: #Ff9814;
    color: white;
}
.shops li
{
    margin: 2px;
    padding: 3px;
    font-size: 12px;
    border: 1px solid #CCCCCC;
    cursor: default;
    background: #F3F3F3;
    min-width: 150px;
    color: #666;
}

.div-button input[type=button]
{
    width: 40px;
    display: block;
    margin-bottom: 10px;
    height: 22px;
    line-height: 20px;
    color:#444;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
   /* box-shadow:1px 1px 2px #444;*/
}
