@charset "gb2312";html{overflow-y:scroll}.right{width:99.9%;background:#fafafa}

.cpb {	 padding:1px 6px; }
.item a { padding:1px 6px; }
.page a { padding:1px 6px;}
.filedset-filter{ height:50px;}
.button-sys{ height:30px;}
