<?xml version="1.0" encoding="utf-8"?>
<panorama>
    <view fovmode="0">
        <start pan="304" tilt="0" fov="76"/>
        <min pan="0" tilt="-90" fov="44"/>
        <max pan="360" tilt="90" fov="109"/>
    </view>
    <autorotate speed="0.100" delay="2.00" returntohorizon="1.000" startloaded="1"/>
    <input tilesize="1024" tilescale="1.00977" tile0url="{0}" tile1url="{1}" tile2url="{2}" tile3url="{3}" tile4url="{4}" tile5url="{5}"/>
    <userdata title="" description="" author="" datetime="" copyright="" source="" info="" comment=""/>
    <control sensitifity="12" simulatemass="1" lockedmouse="0" lockedkeyboard="0" lockedwheel="0" invertwheel="0" speedwheel="1" dblclickfullscreen="0" invertcontrol="1"/>
    <sounds></sounds>
</panorama>
