@using DDD.Domain.Model.Entities.Admin
@{
    ViewBag.Title = "Foot";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<title>后台管理系统</title>
<link href="@Url.Content("~/Content/css/sys.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/pub.css")" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class="foot">
    <div class="foot-left">
      后台管理系统V1.0
    </div>
    <div class="foot-right">
       <span style=" font-family:'宋体-PUA',Arial;">&copy;</span>&nbsp;2011-2015 wquan.cn All Rights Reserved 技术支持：锦福科技
    </div>
  </div>

</body>
</html>
