@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>后台管理系统</title>
    </head>
<frameset rows="55,*" framespacing="0" border="0" frameborder="0" >
    <frame name="topper" id="topper" src="Top" scrolling="no" noresize>
    <frameset id="frm2" rows="*" cols="178,8,*" framespacing="0" frameborder="0" >
        <frame name="left" id="left"  src="left" scrolling="auto" noresize marginwidth="0" marginheight="0" frameborder="0">
        <frame name="callleftmenu"   src="CallLeft" frameborder="0" border="0" noResize scrolling="no">
        <frame   name="right" id="right" src="main" scrolling="auto" border="0" frameborder="0">
    </frameset>
    @*<frame name="foot" src="Foot" scrolling="no" noresize>*@
    <noframes>
        <body oncontextmenu="return false"><p>此网页使用了框架，但你的浏览器不支持框架。</p></body>
    </noframes>
</frameset>
</html>
