body {
	background: rgb(255, 255, 255); color: rgb(51, 51, 51); line-height: 24px; font-family: "ו",sans-serif; font-size: 12px;
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
tr {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
img {
	margin: 0px; padding: 0px;
}
em {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
img {
	border: 0px currentColor; border-image: none;
}
object {
	vertical-align: top;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
a:link {
	color: rgb(17, 34, 204); text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: rgb(102, 0, 153); text-decoration: none;
}
a:active {
	color: rgb(250, 167, 0); text-decoration: underline;
}
h1 {
	font-size: 14px;
}
h2 {
	font-size: 12px;
}
h3 {
	font-size: 12px;
}
h4 {
	font-size: 12px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 12px;
}
#main {
	margin: 0px auto; width: 982px; padding-top: 100px; position: relative;
}
.red {
	color: red;
}
.fleft {
	float: left; display: inline;
}
.fright {
	float: right; display: inline;
}
.clear {
	height: 0px; line-height: 0; clear: both; font-size: 0px;
}
.mgtt {
	padding: 1px 10px; border: 1px solid rgb(217, 217, 217); border-image: none; font-weight: bold; background-color: rgb(245, 245, 245);
}
.spsel {
	font-weight: bold;
}
.hidenotice {
	color: rgb(170, 170, 170);
}
.listTitle {
	color: rgb(17, 34, 204);
}
.alignright {
	text-align: right;
}
.aligncenter {
	text-align: center;
}
.extra-wrap {
	overflow: hidden;
}
.pagecontainer .on {
	font-weight: bold;
}
.pagecontainer * {
	margin-right: 8px;
}
.content {
	margin: auto; padding: 5px 0px 20px; max-width: 960px;
}
.content .slogan {
	width: 285px; padding-top: 35px; float: left;
}
.content .slogan p {
	margin: 0px; padding: 15px 0px 26px; color: rgb(51, 51, 51);
}
.content .slogan h2 span {
	margin-bottom: -32px; display: block;
}
.content .slogan h2 em {
	color: rgb(51, 51, 51); font-style: normal;
}
.content .slogan h2 strong {
	background: url("/images/arrow1.gif") no-repeat left 9px; color: rgb(51, 51, 51); padding-left: 14px; font-weight: normal; display: block;
}
.content .inner {
	padding: 8px 10px 0px; -ms-zoom: 1;
}
.content .inner .item {
	background: url("/images/divider1.gif") repeat-y right top; padding: 0px 20px; width: 210px; float: left;
}
.content .inner .last {
	background: none; padding: 0px; width: 190px; float: right;
}
.content .inner .splast {
	background: none; padding: 0px 0px 0px 10px; width: 180px; float: right;
}
.content .inner .big {
	width: 700px;
}
.content .inner .item dl {
	padding: 5px 0px;
}
.content .inner .item dl dd {
	background: url("/images/marker.gif") no-repeat left 5px; padding-left: 16px;
}
.content .inner .con_intro {
	margin: 10px 0px 0px 35px; width: 190px;
}
.content .inner .gallery {
	text-align: center;
}
.content .inner .gallery h4 {
	margin-bottom: 10px;
}
.content .box {
	background: rgb(253, 253, 253); clear: both; -ms-zoom: 1;
}
.content .box .border-left {
	background: url("/images/border.gif") repeat-y left top; -ms-zoom: 1;
}
.content .box .border-right {
	background: url("/images/border.gif") repeat-y right top; -ms-zoom: 1;
}
.content .box .left-top-corner {
	background: url("/images/left-top-corner.gif") no-repeat left top; -ms-zoom: 1;
}
.content .box .right-top-corner {
	background: url("/images/right-top-corner.gif") no-repeat right top; -ms-zoom: 1;
}
.content .box .border-bot {
	background: url("/images/border-bot5.jpg") repeat-x left bottom; -ms-zoom: 1;
}
.content .box .left-bot-corner {
	background: url("/images/left-bot-corner.gif") no-repeat left bottom; -ms-zoom: 1;
}
.content .box .right-bot-corner {
	background: url("/images/right-bot-corner.gif") no-repeat right bottom; height: 20px; -ms-zoom: 1;
}
.outLinks {
	background: url("/images/common/menu-bg.jpg") repeat-x; height: 33px; color: rgb(85, 85, 85); line-height: 33px; -ms-zoom: 1;
}
.outLinks a {
	color: rgb(85, 85, 85);
}
.outLinks a:visited {
	color: rgb(85, 85, 85);
}
.outLinks .lf-corner {
	background: url("/images/common/menu-left.jpg") no-repeat; padding-left: 30px;
}
.outLinks .rt-corner {
	background: url("/images/common/menu-right.jpg") no-repeat right top; width: 922px; padding-right: 30px;
}
.outLinks .share {
	line-height: 15px; margin-top: 3px;
}
.footer {
	margin: 10px 0px;
}
.footer .ct {
	margin: auto; width: 350px;
}
.footer .rtitem {
	margin: 4px 0px 0px 20px;
}
#contacts-form .field1 {
	float: left;
}
#contacts-form .field2 {
	float: left;
}
#contacts-form .field1 {
	width: 300px;
}
#contacts-form .field1 div {
	height: 50px;
}
#contacts-form .field1 span {
	background: url("/images/input-bg2.gif") no-repeat left top; width: 281px; height: 27px; display: block;
}
#contacts-form .field2 {
	width: 300px;
}
#contacts-form .field2 span {
	background: url("/images/textarea-bg.gif") no-repeat left top; width: 281px; height: 127px; margin-bottom: 30px; display: block;
}
#contacts-form label {
	display: block;
}
#contacts-form input {
	background: none; margin: 4px 0px 0px 10px; border: 0px currentColor; border-image: none; width: 258px; line-height: 1.2em; vertical-align: top;
}
#contacts-form textarea {
	background: none; padding: 4px 0px 2px 10px; border: 0px currentColor; border-image: none; width: 271px; height: 121px; overflow: auto;
}
#contacts-form .link2 {
	float: right;
}
.list li {
	background: url("images/marker.gif") no-repeat left 5px; padding: 0px 0px 4px 16px;
}
.list li.last {
	padding-bottom: 37px;
}
.list1 li {
	width: 100%; overflow: hidden; padding-bottom: 24px; margin-bottom: 24px; vertical-align: top; border-bottom-color: rgb(241, 241, 241); border-bottom-width: 1px; border-bottom-style: solid;
}
.list1 li.last {
	padding: 0px 0px 4px; border: 0px currentColor; border-image: none;
}
.list1 li p {
	margin: 0px;
}
.list1 li img {
	margin-right: 20px; float: left;
}
.img-indent {
	margin-bottom: 20px;
}
.img-box1 {
	width: 100%; overflow: hidden;
}
.img-box1 img {
	margin: 0px 20px 0px 0px; float: left;
}
.p2 {
	margin-bottom: 25px;
}
.address span {
	margin-right: 160px; float: right;
}
.txt1 {
	font-weight: bold;
}
.new {
	color: red; margin-left: 5px;
}
#contentArea li {
	width: 750px;
}
#FlashArea li {
	width: 980px;
}
#caseArea li {
	width: 365px;
}
.caseTable {
	margin: 0px auto;
}
.caseTable tr {
	width: 100%;
}
.caseTable td {
	width: 300px;
}
#cs_noexpressUpdate {
	margin: 0px auto; padding: 40px; width: 210px; height: 200px; text-align: left; background-image: url("small_short_nofp_bg.gif"); background-repeat: no-repeat;
}
#bookTable {
	border: 1px solid gray; border-image: none;
}
#bookTable tr {
	border: 1px solid gray; border-image: none;
}
.h1title {
	margin: 15px 0px; padding: 15px 0px; color: rgb(0, 171, 169); font-size: 16px; font-weight: bolder; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.subh1.h1title {
	color: rgb(158, 205, 200); font-size: 14px;
}
img {
	margin: 10px 0px; max-width: 100%;
}
